.DS_Store
/Archived
plots
Thermal Curves/Thermal Curves/NPQ_residual/exponential raw output.csv
.RData
.Rhistory
Thermal Curves/NPQ_residual/exponential raw output.csv
Thermal Curves/QY_ek/inverted exponential.csv
